@media screen and (max-width: 970px) {
    .dp-menu ul li{
        width: 45% !important;
        height: 280px !important;
    }
   
}
@media screen and (max-width: 470px) {
    .dp-menu ul li{
        width: 90% !important;
    }
   
}
.demo-spin-icon-load{
    animation: ani-demo-spin 1s linear infinite;
}
.ivu-spin-text{
    color: #fff;
    font-size: 20px;
}
.ivu-spin-text .ivu-icon{
    font-size: 42px !important;
}
.ivu-spin-fix{
    background: rgba(0, 0, 0, 0.5) !important;
}
.ivu-message-notice-content span{
    color: #000 !important;
}
.el-scrollbar__wrap {
    overflow-x: hidden !important;
    overflow-y: auto;
  }