@media screen and (max-width: 970px) {
    .dp-menu ul li{
        width: 45% !important;
        height: 280px !important;
    }
   
}
@media screen and (max-width: 470px) {
    .dp-menu ul li{
        width: 90% !important;
    }
   
}
@media screen and (max-width:1450px) {
    .fontsize60{
        font-size: 45px;
    }
    .fontsize50{
        font-size: 40px;  
    }
    .fontsize36{
        font-size:30px;
    }
    .fontsize30{
        font-size:20px;
    }
    .fontsize24{
        font-size:16px;
    }

    .secure_circle,.circle{
        width: 80px !important;
        height: 80px !important;
    }
   
}
.mg-10{
    margin: 10px 0;
}
.demo-spin-icon-load{
    animation: ani-demo-spin 1s linear infinite;
}
.ivu-spin-text{
    color: #fff;
    font-size: 20px;
}
.ivu-spin-text .ivu-icon{
    font-size: 42px !important;
}
.ivu-spin-fix{
    background: rgba(0, 0, 0, 0.5) !important;
}
.ivu-message-notice-content span{
    color: #000 !important;
}
.el-scrollbar__wrap {
    overflow-x: hidden !important;
    overflow-y: auto;
}
.reportPersonal .el-table td.el-table_1_column_1,
.reportPersonal .el-table td.el-table_1_column_2,
.reportPersonal .el-table th.el-table_1_column_1,
.reportPersonal .el-table th.el-table_1_column_2,
.dpReport .el-table th.el-table_1_column_1,
.dpReport .el-table td.el-table_1_column_1{
    background: #0E194A !important;
}
.el-table,.el-table th{
    text-align: center !important;
}
.el-table,.el-table tr,.el-table th{
    background:none !important;
    background-color: transparent;
    color: #fff;
}
.el-table__body tr.hover-row>td{
    background-color: #0E194A !important;
}

.reportPagination .el-pagination__total,
.reportPagination .el-input__inner,
.reportPagination .el-select-dropdown__item,
.reportPagination .el-pagination__jump{
    color:#fff !important;
}
.reportPagination input,
.reportPagination .el-pagination .btn-prev,
.reportPagination  .el-pagination .btn-next,
.reportPagination .el-pager li,
.reportPagination .el-pager li.btn-quicknext,
.reportPagination .el-select-dropdown{
    background:none !important;
    color: #fff;
}

.bottom-percentage .el-progress .el-progress__text{
    color: #fff;
    font-size: 22px !important;
}
.pannel-fwt_top .el-select{

}
.pannel-fwt_top .el-select .el-input__inner{
    border: 1px solid #706FAD;
    border-radius:20px !important;
    background: rgba(255, 255, 255,0.2) !important;
    color: rgba(255, 255, 255,0.5);
}
.el-select-dropdown{
    border: 1px solid #706FAD !important;
    background: #5156BD !important;
}
.el-select-dropdown .el-select-dropdown__item{
    color: rgba(255, 255, 255,0.5);
}

.el-select-dropdown__item.hover, .el-select-dropdown__item:hover{
    background-color: #3C6BC4 !important;
}
.el-select-dropdown  .el-select-dropdown__item.selected{
    color: #fff;
}
.el-popper .popper__arrow::after{
    border: 0px solid #000 !important;; 
}
.el-popper[x-placement^=bottom] .popper__arrow{
    border-bottom-color: rgba(255, 255, 255,0.2) !important;
}